<a id="2"></a>
# <div style="padding:40px;color:black;margin:0;font-size:55px;font-family:Roboto;text-align:center;display:fill;border-radius:10px;background-color:#008080;overflow:hidden"><b>Age Prediction - Data Science Intermediate I</b></div>

<div style="display:flex;justify-content:center;">
<img src="https://online.hbs.edu/Style%20Library/api/resize.aspx?imgpath=/PublishingImages/hand-reaching-for-predictive-analytics-graphic.jpg&w=1200&h=630"
style="width:700px;height:400px;" />
</div>

<a id="1.1"></a>
<h2 style="font-family: Roboto; font-size: 35px; font-style: normal; font-weight: normal; text-align:center; display:fill; text-decoration: none; padding:10px; letter-spacing: 1px; color: black; background-color:808080;"><b>Challenge Objectives</h2>

<div style="font-family:Roboto;background-color:808080; padding:30px; font-size:17px">

ðŸ’¡ In this project we will create an Age Prediction Model.<br>

ðŸ’¡The main aim of this project is use machine learning to create a model that predicts Individuals age based on their Weight, Height, Sex.<br>
</div>

In [1]:
# Importing Libraries

import pandas as pd
pd.set_option('display.max_columns',100)

import numpy as np

import seaborn as sns
sns.set_style('darkgrid')
sns.set_palette("muted")
pd.set_option("display.max.rows",None)
pd.set_option("display.max.columns",None)

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Loading training dataset into the DataFrame

train_df = pd .read_csv("Train_data.csv")
train_df.head(5)

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,0,I,1.5250,1.1750,0.3750,28.973189,12.728926,6.647958,8.348928,9
1,1,I,1.1000,0.8250,0.2750,10.418441,4.521745,2.324659,3.401940,8
2,2,M,1.3875,1.1125,0.3750,24.777463,11.339800,5.556502,6.662133,9
3,3,F,1.7000,1.4125,0.5000,50.660556,20.354941,10.991839,14.996885,11
4,4,I,1.2500,1.0125,0.3375,23.289114,11.977664,4.507570,5.953395,8

In [3]:
# Loading testing dataset into the DataFrame

test_df = pd .read_csv("Test_data.csv")
test_df.head(5)

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight
0,74051,I,1.0500,0.7625,0.2750,8.618248,3.657085,1.729319,2.721552
1,74052,I,1.1625,0.8875,0.2750,15.507176,7.030676,3.246018,3.968930
2,74053,F,1.2875,0.9875,0.3250,14.571643,5.556502,3.883882,4.819415
3,74054,F,1.5500,0.9875,0.3875,28.377849,13.380964,6.548735,7.030676
4,74055,I,1.1125,0.8500,0.2625,11.765042,5.528153,2.466407,3.331066

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20191 entries, 0 to 20190
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20191 non-null  int64
 1   Sex             20191 non-null  object
 2   Length          20191 non-null  float64
 3   Diameter        20191 non-null  float64
 4   Height          20191 non-null  float64
 5   Weight          20191 non-null  float64
 6   Shucked Weight  20191 non-null  float64
 7   Viscera Weight  20191 non-null  float64
 8   Shell Weight    20191 non-null  float64
 9   Age             20191 non-null  int64
dtypes: float64(7), int64(2), object(1)
memory usage: 1.5+ MB

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              9999 non-null   int64
 1   Sex             9999 non-null   object
 2   Length          9999 non-null   float64
 3   Diameter        9999 non-null   float64
 4   Height          9999 non-null   float64
 5   Weight          9999 non-null   float64
 6   Shucked Weight  9999 non-null   float64
 7   Viscera Weight  9999 non-null   float64
 8   Shell Weight    9999 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 703.2+ KB

In [8]:
train_df.shape

(20191, 10)

In [9]:
test_df.shape

(9999, 9)

In [10]:
train_df.isnull().sum()

id                0
Sex               0
Length            0
Diameter          0
Height            0
Weight            0
Shucked Weight    0
Viscera Weight    0
Shell Weight      0
Age               0
dtype: int64

In [11]:
test_df.isnull().sum()

id                0
Sex               0
Length            0
Diameter          0
Height            0
Weight            0
Shucked Weight    0
Viscera Weight    0
Shell Weight      0
dtype: int64